<html lang="en">
    <%- include("./partials/head.ejs") %>
    
    <body class="checkout">
        <%- include("./partials/nav.ejs") %>
    
        <div class="container" id="checkoutContainer">
            <div class="row mt-5 border-bottom align-items-end">
                <div class="col"><h1 class="text-start">Shopping cart</h1></div>
                <div class="col"><h3 class="text-end" id="totalPrice">Total Price: $123</h3></div>
            </div>
        </div>

    </body>

</html>    