<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

        <div>
            <form action="/category/item" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="itemName">Item Name</label>
                    <input type="text" id="name" placeholder="Name" value="" name="itemName" required>
                </div>
                <div>
                    <label for="itemPrice">Item Price</label>
                    <input type="text" id="name" placeholder="Name" value="" name="itemPrice" required>
                </div>
                <div>
                    <label for="itemCategory">Item Category</label>
                    <input type="text" id="name" placeholder="Name" value="" name="itemCategory" required>
                </div>
                <div>
                    <label for="itemBrand">Item Brand</label>
                    <input type="text" id="name" placeholder="Name" value="" name="itemBrand" required>
                </div>
                <div>
                    <label for="itemImage">Upload Image</label>
                    <input type="file" id="image" name="itemImage" value="" required>
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>



    </body>
</html>   
    